/* _content/Blazored.Shared/Components/CodeSnippet/CodeSnippet.razor.rz.scp.css */
/* https://github.com/microsoft/fluentui-blazor/blob/main/examples/Demo/Shared/Components/CodeSnippet.razor.css */

.snippet[b-gjpznb8hip] {
    margin-bottom: 0.5rem;
    border: calc(var(--stroke-width) * 1px) solid var(--neutral-stroke-rest);
    border-radius: calc(var(--control-corner-radius) * 1px);
    overflow-y: auto;
}

[b-gjpznb8hip] .hljs {
    background-color: var(--neutral-layer-2);
}

[b-gjpznb8hip] .hljs-copy-button {
    border-color: var(--neutral-fill-strong-rest);
    color: var(--accent-fill-rest);
    top: 0.4rem;
    /*background-color: var(--neutral-layer-2) !important;*/
    /*background-image: url('data:image/svg+xml;utf-8,<svg style="fill: none; width: 16px; height: 16px;" width="16" height="16" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M6 5C5.73478 5 5.48043 5.10536 5.29289 5.29289C5.10536 5.48043 5 5.73478 5 6V20C5 20.2652 5.10536 20.5196 5.29289 20.7071C5.48043 20.8946 5.73478 21 6 21H18C18.2652 21 18.5196 20.8946 18.7071 20.7071C18.8946 20.5196 19 20.2652 19 20V6C19 5.73478 18.8946 5.48043 18.7071 5.29289C18.5196 5.10536 18.2652 5 18 5H16C15.4477 5 15 4.55228 15 4C15 3.44772 15.4477 3 16 3H18C18.7956 3 19.5587 3.31607 20.1213 3.87868C20.6839 4.44129 21 5.20435 21 6V20C21 20.7957 20.6839 21.5587 20.1213 22.1213C19.5587 22.6839 18.7957 23 18 23H6C5.20435 23 4.44129 22.6839 3.87868 22.1213C3.31607 21.5587 3 20.7957 3 20V6C3 5.20435 3.31607 4.44129 3.87868 3.87868C4.44129 3.31607 5.20435 3 6 3H8C8.55228 3 9 3.44772 9 4C9 4.55228 8.55228 5 8 5H6Z" fill="black"/><path fill-rule="evenodd" clip-rule="evenodd" d="M7 3C7 1.89543 7.89543 1 9 1H15C16.1046 1 17 1.89543 17 3V5C17 6.10457 16.1046 7 15 7H9C7.89543 7 7 6.10457 7 5V3ZM15 3H9V5H15V3Z" fill="black"  /></svg>');*/
}


    [b-gjpznb8hip] .hljs-copy-button:hover {
        border-color: var(--neutral-fill-strong-hover);
    }

    [b-gjpznb8hip] .hljs-copy-button:active {
        border-color: var(--neutral-fill-strong-active);
    }

[b-gjpznb8hip] .hljs-copy {
    cursor: pointer;
    border-color: var(--neutral-stroke-rest);
    border-radius: calc(var(--control-corner-radius) * 1px);
    color: var(--accent-fill-rest);
    background-color: var(--neutral-layer-2);
    top: 0.4rem;
}

[b-gjpznb8hip] .hljs-copy {
    position: absolute;
    transform: translateX(calc(100% + 1.125em));
    
    right: 1em;
    transition: background-color 200ms ease, transform 200ms ease-out;
}

.hljs-copy-wrapper[b-gjpznb8hip]  {
    position: relative;
    overflow: hidden
}

    .hljs-copy-wrapper:hover[b-gjpznb8hip]  .hljs-copy, .hljs-copy:focus[b-gjpznb8hip] {
        transform: translateX(0);
    }

/* _content/Blazored.Shared/Components/Markdown/MarkdownSection.razor.rz.scp.css */
https://github.com/microsoft/fluentui-blazor/blob/main/examples/Demo/Shared/Components/MarkdownSection.razor.css[b-4mbpni3zkf]

 th {
    padding: 0 5px 0 5px;
    border-width: 1px;
}

[b-4mbpni3zkf] td {
    padding: 0 5px 0 5px;
    border-width: 1px;
}

[b-4mbpni3zkf] .snippet {
    margin-bottom: 0.5rem;
    border: calc(var(--stroke-width) * 1px) solid var(--neutral-stroke-rest);
    border-radius: calc(var(--control-corner-radius) * 1px);
    overflow-y: auto;
}

[b-4mbpni3zkf] .hljs {
    background-color: var(--neutral-layer-2);
    tab-size: 2em;
}

[b-4mbpni3zkf] .hljs-copy-button {
    border-color: var(--neutral-fill-strong-rest);
    color: var(--accent-fill-rest);
    top: 0.4rem;
    /*background-color: var(--neutral-layer-2) !important;*/
    /*background-image: url('data:image/svg+xml;utf-8,<svg style="fill: none; width: 16px; height: 16px;" width="16" height="16" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M6 5C5.73478 5 5.48043 5.10536 5.29289 5.29289C5.10536 5.48043 5 5.73478 5 6V20C5 20.2652 5.10536 20.5196 5.29289 20.7071C5.48043 20.8946 5.73478 21 6 21H18C18.2652 21 18.5196 20.8946 18.7071 20.7071C18.8946 20.5196 19 20.2652 19 20V6C19 5.73478 18.8946 5.48043 18.7071 5.29289C18.5196 5.10536 18.2652 5 18 5H16C15.4477 5 15 4.55228 15 4C15 3.44772 15.4477 3 16 3H18C18.7956 3 19.5587 3.31607 20.1213 3.87868C20.6839 4.44129 21 5.20435 21 6V20C21 20.7957 20.6839 21.5587 20.1213 22.1213C19.5587 22.6839 18.7957 23 18 23H6C5.20435 23 4.44129 22.6839 3.87868 22.1213C3.31607 21.5587 3 20.7957 3 20V6C3 5.20435 3.31607 4.44129 3.87868 3.87868C4.44129 3.31607 5.20435 3 6 3H8C8.55228 3 9 3.44772 9 4C9 4.55228 8.55228 5 8 5H6Z" fill="black"/><path fill-rule="evenodd" clip-rule="evenodd" d="M7 3C7 1.89543 7.89543 1 9 1H15C16.1046 1 17 1.89543 17 3V5C17 6.10457 16.1046 7 15 7H9C7.89543 7 7 6.10457 7 5V3ZM15 3H9V5H15V3Z" fill="black"  /></svg>');*/
}

    [b-4mbpni3zkf] .hljs-copy-button:hover {
        border-color: var(--neutral-fill-strong-hover);
    }

    [b-4mbpni3zkf] .hljs-copy-button:active {
        border-color: var(--neutral-fill-strong-active);
    }

[b-4mbpni3zkf] .hljs-copy {
    cursor: pointer;
    border-color: var(--neutral-stroke-rest);
    border-radius: calc(var(--control-corner-radius) * 1px);
    color: var(--accent-fill-rest);
    background-color: var(--neutral-layer-2);
    top: 0.4rem;
}

[b-4mbpni3zkf] .hljs-copy {
    position: absolute;
    transform: translateX(calc(100% + 1.125em));
    right: 1em;
    transition: background-color 200ms ease, transform 200ms ease-out;
}

[b-4mbpni3zkf] .hljs-copy-wrapper {
    position: relative;
    overflow: hidden
}

    [b-4mbpni3zkf] .hljs-copy-wrapper:hover .hljs-copy, .hljs-copy:focus[b-4mbpni3zkf] {
        transform: translateX(0);
    }
/* _content/Blazored.Shared/Layout/MainLayout.razor.rz.scp.css */
.page[b-tx0j33ijkv] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-tx0j33ijkv] {
    flex: 1;
}

.sidebar[b-tx0j33ijkv] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-tx0j33ijkv] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-tx0j33ijkv]  a, .top-row[b-tx0j33ijkv]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-tx0j33ijkv]  a:hover, .top-row[b-tx0j33ijkv]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-tx0j33ijkv]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-tx0j33ijkv] {
        justify-content: space-between;
    }

    .top-row[b-tx0j33ijkv]  a, .top-row[b-tx0j33ijkv]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-tx0j33ijkv] {
        flex-direction: row;
    }

    .sidebar[b-tx0j33ijkv] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-tx0j33ijkv] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-tx0j33ijkv]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-tx0j33ijkv], article[b-tx0j33ijkv] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/Blazored.Shared/Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-lfez34hhyv] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-lfez34hhyv] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-lfez34hhyv] {
    font-size: 1.1rem;
}

.bi[b-lfez34hhyv] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.bi-house-door-fill-nav-menu[b-lfez34hhyv] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
}

.bi-plus-square-fill-nav-menu[b-lfez34hhyv] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus-square-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z'/%3E%3C/svg%3E");
}

.bi-list-nested-nav-menu[b-lfez34hhyv] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}

.nav-item[b-lfez34hhyv] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-lfez34hhyv] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-lfez34hhyv] {
        padding-bottom: 1rem;
    }

    .nav-item[b-lfez34hhyv]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-lfez34hhyv]  a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item[b-lfez34hhyv]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-lfez34hhyv] {
        display: none;
    }

    .collapse[b-lfez34hhyv] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-lfez34hhyv] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}

/* Sorry */
.icon-fix[b-lfez34hhyv] {
    margin-top: -25px;
}
/* _content/Blazored.Shared/Pages/Home.razor.rz.scp.css */

/* Cards */

.card-header[b-u11yeikc1r], .card-footer[b-u11yeikc1r] {
    background-color: rgb(60, 60, 60);
}

.card-header a[b-u11yeikc1r] {
    font-weight: bold;
    color: white;
}

.card-footer[b-u11yeikc1r] {
    color: white;
}

.card-topics-container[b-u11yeikc1r] {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* .card-pill-primary {
    color: #fff;
    background-color: blue;
} */

.card-pill-dark[b-u11yeikc1r] {
    color: #fff;
    background-color: black;
}

.card-pill-wip[b-u11yeikc1r] {
    color: #fff;
    background-color: grey;
}

.card-pill-archive[b-u11yeikc1r] {
    color: #fff;
    background-color: orange;
}

