<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <img src="/_content/Blazored.Shared/images/blazored-icon.png" alt="Blazored Icon" width="30px;" />&nbsp;Blazored
        </a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        @* <div class="nav-item px-3">
            <NavLink class="nav-link" href="autosaveeditform">
                <span class="bi bi-floppy icon-fix" aria-hidden="true"></span> Auto Save Edit Form
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="azurestaticwebappauthentication">
                <span class="bi bi-cloud icon-fix" aria-hidden="true"></span> Azure <span style="display:none;">Static Web App Authentication</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fluentvalidation">
                <span class="bi bi-check icon-fix" aria-hidden="true"></span> Fluent Validation
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="formextensions">
                <span class="bi bi-card-checklist icon-fix" aria-hidden="true"></span> Form Extensions
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="gitter">
                <span class="bi bi-chat icon-fix" aria-hidden="true"></span> Gitter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="localisation">
                <span class="bi bi-translate icon-fix" aria-hidden="true"></span> Localisation
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="localstorage">
                <span class="bi bi-briefcase icon-fix" aria-hidden="true"></span> Local Storage
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="menu">
                <span class="bi bi-menu-app icon-fix" aria-hidden="true"></span> Menu
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="modal">
                <span class="bi bi-window-plus icon-fix" aria-hidden="true"></span> Modal
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="sessionstorage">
                <span class="bi bi-briefcase icon-fix" aria-hidden="true"></span> Session Storage
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="texteditor">
                <span class="bi bi-journal-code icon-fix" aria-hidden="true"></span> Text Editor
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="toast">
                <span class="bi bi-chat-left-text icon-fix" aria-hidden="true"></span> Toast
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="typeahead">
                <span class="bi bi-menu-button icon-fix" aria-hidden="true"></span> Typeahead
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="video">
                <span class="bi bi-film icon-fix" aria-hidden="true"></span> Video
            </NavLink>
        </div> *@
        
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
