@page "/azurestaticwebappauthentication"

@using Blazored.Shared.Components

<PageTitle>AzureStaticWebAppAuthentication</PageTitle>

<div class="row">
     <div class="col-md-12">
        <MarkdownSection FromAsset="https://raw.githubusercontent.com/Blazored/AzureStaticWebAppAuthentication/refs/heads/main/README.md"></MarkdownSection>
    </div>
</div>
