@page "/fluentvalidation"

@using Blazored.Shared.Components

<PageTitle>FluentValidation</PageTitle>

<div class="row">
     <div class="col-md-12">
        <MarkdownSection FromAsset="https://raw.githubusercontent.com/Blazored/FluentValidation/refs/heads/main/README.md"></MarkdownSection>
    </div>
</div>
