@page "/formextensions"

@using Blazored.Shared.Components

<PageTitle>FormExtensions</PageTitle>

<div class="row">
     <div class="col-md-12">
        <MarkdownSection FromAsset="https://raw.githubusercontent.com/Blazored/FormExtensions/refs/heads/master/README.md"></MarkdownSection>
    </div>
</div>
