@page "/gitter"

@using Blazored.Shared.Components

<PageTitle>Gitter</PageTitle>

<div class="row">
     <div class="col-md-12">
        <MarkdownSection FromAsset="https://raw.githubusercontent.com/Blazored/Gitter/refs/heads/master/README.md"></MarkdownSection>
    </div>
</div>
