@page "/localstorage"

@using Blazored.Shared.Components

<PageTitle>LocalStorage</PageTitle>

<div class="row">
     <div class="col-md-12">
        <MarkdownSection FromAsset="https://raw.githubusercontent.com/Blazored/LocalStorage/refs/heads/main/README.md"></MarkdownSection>
    </div>
</div>
