@page "/localisation"

@using Blazored.Shared.Components

<PageTitle>Localisation</PageTitle>

<div class="row">
     <div class="col-md-12">
        <MarkdownSection FromAsset="https://raw.githubusercontent.com/Blazored/Localisation/refs/heads/master/README.md"></MarkdownSection>
    </div>
</div>
