@page "/menu"

@using Blazored.Shared.Components

<PageTitle>Menu</PageTitle>

<div class="row">
     <div class="col-md-12">
        <MarkdownSection FromAsset="https://raw.githubusercontent.com/Blazored/Menu/refs/heads/main/README.md"></MarkdownSection>
    </div>
</div>
