@page "/modal"

@using Blazored.Shared.Components

<PageTitle>Modal</PageTitle>

<div class="row">
     <div class="col-md-12">
        <MarkdownSection FromAsset="https://raw.githubusercontent.com/Blazored/Modal/refs/heads/main/README.md"></MarkdownSection>
    </div>
</div>
