@page "/sessionstorage"

@using Blazored.Shared.Components

<PageTitle>AutoSaveEditForm</PageTitle>

<div class="row">
     <div class="col-md-12">
        <MarkdownSection FromAsset="https://raw.githubusercontent.com/Blazored/SessionStorage/refs/heads/main/README.md"></MarkdownSection>
    </div>
</div>
