@page "/toast"

@using Blazored.Shared.Components

<PageTitle>Toast</PageTitle>

<div class="row">
     <div class="col-md-12">
        <MarkdownSection FromAsset="https://raw.githubusercontent.com/Blazored/Toast/refs/heads/main/README.md"></MarkdownSection>
    </div>
</div>
