@page "/typeahead"

@using Blazored.Shared.Components

<PageTitle>Toast</PageTitle>

<div class="row">
     <div class="col-md-12">
        <MarkdownSection FromAsset="https://raw.githubusercontent.com/Blazored/Typeahead/refs/heads/main/README.md"></MarkdownSection>
    </div>
</div>
