@page "/video"

@using Blazored.Shared.Components

<PageTitle>Video</PageTitle>

<div class="row">
     <div class="col-md-12">
        <MarkdownSection FromAsset="https://raw.githubusercontent.com/Blazored/Video/refs/heads/main/README.md"></MarkdownSection>
    </div>
</div>
